.main-editor {

  height: 100%;

  .toolbar {
    background-color: #e8e8e8;
    border-bottom: 2px solid #d2d2d2;
    display: flex;
    justify-content: space-between;

    .main-buttons {
      flex: 1;
    }
  }

  .cell-value-input {
    width: 200px;
    margin: 4px;
    font-size: 14px;
    padding: 4px;
    font-family: inherit;
    border: 1px solid #3a3a3a;
    border-radius: 4px;
    line-height: 22px;

    &:focus {
      outline: none;
      box-shadow: 0 0 0px 2px rgba(161, 176, 253, 0.68);
    }  
  }

  .pane-view {
    display: flex;
    height: 100%;

    .editor-pane {
      flex: 1;
      padding: 12px;
      overflow: auto;
    }

    .markdown-pane {
      flex: 1;
      background: #f6f8fa;
      padding: 30px;
      overflow: auto;
    }
  }

  &-windowed {
    height: 60vh;
    width: 90vw;
    max-width: 1200px;
    margin: 20px auto;
    border-radius: 4px;
    border: 2px solid #a2a2a2;
    overflow: auto;
  }
}