.main-editor {

  height: 100%;

  .cell-value-input {
    width: 100%;
    font-size: 14px;
    padding: 4px;
    font-family: inherit;
  }

  .pane-view {
    display: flex;
    height: 100%;

    .editor-pane {
      flex: 1;
      padding: 12px;
      overflow: auto;
    }

    .markdown-pane {
      flex: 1;
      background: #f6f8fa;
      padding: 12px;
      overflow: auto;
    }
  }
}