@import './colors.scss';

.main-editor {

  background-color: white;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  width: 100%;

  .toolbar {
    background-color: $lightgray_10;
    border-bottom: 2px solid $lightgray_20;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 1000;

    .main-buttons {
      flex: 1;
    }
  }

  .cell-value-input {
    width: 200px;
    margin: 4px;
    font-size: 14px;
    padding: 4px;
    font-family: inherit;
    border: 1px solid $lightgray_50;
    border-radius: 4px;
    line-height: 22px;

    &:focus {
      outline: none;
      box-shadow: 0 0 0px 2px rgba(161, 176, 253, 0.68);
    }  
  }

  .pane-view {
    display: flex;
    flex: 1;
    margin-top: 42px;

    .editor-pane {
      flex: 1;
      padding: 12px;
      overflow: auto;
    }

    .markdown-pane {
      flex: 1;
      background: $lightgray_5;
      border-left: 1px solid #e8e8e8;
      padding: 30px;
      overflow: auto;
    }
  }

  &-windowed {
    position: relative;
    height: 60vh;
    width: 95%;
    max-width: 1400px;
    margin: 20px auto;
    border-radius: 4px;
    border: 1px solid $lightgray_60;
    box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.2);
    
    .toolbar {
      position: relative;
    }

    .pane-view {
      margin-top: 0;
    }
  }
}