.md-table {
  margin: 20px;
  padding: 20px;
  background: #ececec;
  white-space: pre;
  text-align: left;
  border-radius: 4px;

  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}