table.editable {

  border-collapse: collapse;

  tr {  
    &:nth-child(2n) {
      background-color: #f6f8fa;
    }
  }

  col {

    &
    &:hover {
      text-transform: capitalize;
    }
  }

  td {
    border: 1px solid #dfe2e5;
    min-width: 100px;
    height: 32px;
    transition: 0.5s all;

    .cell-value {
      display: block;
      padding: 6px 12px;
    }

    input[type=text] {
      width: 100%;
      height: 100%;
      border: none;
      font-size: 16px;
      vertical-align: top;
      padding: 6px 12px;
    }

    &.table-head {
      text-align: center;
      font-weight: 700;
    }

    &.extra {
      border-style: dashed;
      border-color: white;
      min-width: 32px;
      background-color: white;
      transition: 0.3s all;
    }

    &.delete-cell {
      border: none;
      background-color: white;
      min-width: 28px;
      text-align: center;

      .delete-icon {
        cursor: pointer;
      }
    }
  }

  &:hover {
    td, th {
      &.extra {
        border-color: #dfe2e5;
        opacity: 0.5;
        transition: 0.5s all;
      }
    }
  }
} /* --table.editable */

.md-table {
  padding: 12px;
  white-space: pre;
  text-align: left;

  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 14px;
}