@import '../../styles/colors.scss';

.button {
  display: inline-flex;
  align-items: stretch;
  padding: 0;
  user-select: none;
  background-color: white; // #920661;
  border-radius: 4px;
  color: $lightgray_70;
  margin: 4px;
  border: 1px solid $lightgray_50;
  font-size: 0.8rem;
  cursor: pointer;
  font-weight: 500;
  vertical-align: middle;

  &:hover {
    color: #1638d8;
    border-color: #1638d8;
    background-color: #e6eaff;

    .icon {
      background-color: #c8d1ff;
      border-color: #b5c1ff;
    }
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0px 2px rgba(161, 176, 253, 0.68);
  }
}

.enabled {
  background-color: #c8d1ff;
  color: #1638d8;
  //transition: 0.3s;
  border-color: #1638d8;

  &:hover {
    background-color: #c8d1ff;
    
    .icon {
      background-color: #b5c1ff;
    }
  }

  .icon {
    color: #1638d8;
    background-color: #b5c1ff;
    border-color: #b5c1ff;
  }
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $lightgray_10;
  color: $lightgray_60;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  width: 28px;
  border-right: 1px solid $lightgray_20;
}

.text {
  display: inline-block;
  padding: 0.5rem 1rem;
}

.type-flat {
  font-weight: 400;
  border: 1px solid #c5c5c5;
  background-color: #e8e8e8;
  color: $lightgray_60;
}
