@import '../../styles/colors.scss'; 

.modal {
  position: absolute;
  width: 80%;
  max-width: 600px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;

  background-color: white;
  border-radius: 4px;

  box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.2);
}

.background {
  position: fixed;
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  z-index: 10000;
}

.body {
  padding: 24px;
}

.footer {
  padding: 12px;
  border-top: 1px solid $lightgray_10;
  text-align: center;
  background-color: $lightgray_5;
  background: linear-gradient(180deg, $lightgray_5, transparent);
}
