html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.App {
  text-align: center;
  margin: 20px;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.table {
  border: 1px solid gray;
  display: flex;
}

.cell {
  border: 1px solid gray;
  min-width: 100px;
  min-height: 32px;
  text-align: left;

  > span {
    display: block;
    padding: 4px;
  }

  &:first-child {
    //border-top: 1px solid gray;
    //border-left: 1px solid gray;
  }

  input[type=text] {
    width: 100%;
    height: 100%;
    border: none;
    font-size: 14px;
    vertical-align: top;
  }
}

.row {
  display: block;
  height: 30px;
}
