.App {
  text-align: center;
  margin: 20px;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.table {
  border: 1px solid gray;
}

.cell {
  border: 1px solid gray;
  //border-top: none;
  //border-left: none;
  display: inline-block;
  width: 200px;
  height: 100%;

  &:first-child {
    //border-top: 1px solid gray;
    //border-left: 1px solid gray;
  }
}

.row {
  display: block;
  height: 30px;
}

.md-table {
  font-family: monospace;
  white-space: pre;
}